@{
    ViewData["Title"] = "Sport Store";
}

<div class="text-center">
    <h1 class="display-4">Sport Store</h1>
     <a asp-controller="Products" asp-action="Index" class="btn btn-secondary"><p>Products</p> </a>
</div>
